---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const entry = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { Content } = await render(entry);
const { title, meta_title, image, what_i_do } = entry.data;
---

<Base title={title} meta_title={meta_title} image={image}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <h1 set:html={markdownify(title)} class="h3 mb-8 text-center" />

          <div class="content prose dark:prose-invert max-w-none">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">{what_i_do.title}</h3>
      <div class="row justify-center gy-4 text-center">
        {
          what_i_do.items.map((item: any) => (
            <div class="lg:col-4 md:col-6">
              <i class={`${item.icon} fa-3x text-primary mb-4`} />
              <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
              <p class="text-text">{item.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
